@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400;1,600&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*font-family: 'Patrick Hand', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Tinos', serif;*/

@import 'partials/reset';
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries


// color palette - these colors will be the color swatches of the Colors section

$color-1: #5f8ee4; // Cornflower Blue - Action color
$color-2: #19191a; // Dark Blue
$color-3: #e4655f; // Red
$color-4: #e6e6e6; // light grey
$color-5: #ffffff; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red

// fonts
$primary-font: 'Poppins', sans-serif;;
$secondary-font: 'Tinos', serif;;

@import 'partials/basic-style';

/* -------------------------------- 

xBackground 

-------------------------------- */

body {
  /* this is the page background */
  background-color: $color-5;
}

/* -------------------------------- 

xPatterns

-------------------------------- */

.cd-box {
  /* this is the container of various design elements - i.e. the 2 logo of the branding section */
  border: 1px solid $color-4;
  border-radius: 3px;
  background: $color-5;
  box-shadow: 0 1px 1px rgba(#000, 0.05);
  padding: 6px;
}

/* -------------------------------- 

xNavigation 

-------------------------------- */

@import 'partials/navegation';

/* -------------------------------- 

xPage title 

-------------------------------- */

main > h1 {
  color: $color-2;

  @include MQ(L) {
    /* title goes into the header on big devices */
    color: $color-5;
  }
}

/* -------------------------------- 

xTypography 

-------------------------------- */

@import 'partials/typography';

/* -------------------------------- 

xButtons 

-------------------------------- */

@import 'partials/buttons';