.page-wrapper{
      display: grid;
      grid-template-columns: repeat(2, 1fr) 20vw;
      
}
.intro{
    text-align: center;
      grid-column: span 3;
      background-image: url("images/93035.jpg");
      height: 46em;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
}

header {
    & h2{
    font-family: $heading;
    line-height: 2em;
    color: $color-4;
    font-size: 3em;
    }
    & h1{
        font-family: $heading;
    }
}

.summary{
    //margin: 2.5em;
    //margin-top: -2.5em;
    //border-bottom: 2px solid;
    //border-left: 2px solid;
    //border-right: 2px solid;
    line-height: 2em;
    color: $color-4;
    font-size: 1.2em;
}

.main{
      grid-column: 1 /span 2;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em;
  }

@mixin content-box{
    margin: 0.5em;
    text-align: center;
    border: 2px solid;
    border-radius: 10%;
    padding: 1vw;
}

.preamble{
    margin: 0.5em;
    text-align: center;
    padding: 1vw;
    color: $color-5;
    & h3{
        font-family: $heading;
    }
}

.explanation {
    @include content-box();
    grid-column: 1;
}
  
.participation{
    @include content-box();
    grid-column: 2;
}
  
.benefits {
    @include content-box();
    grid-column: span 2;
}

.requirements{
    @include content-box();
    border-radius: 5%;
    grid-column: span 2;
}

.requirements p:last-child{
    font-size: 10px;
}

.sidebar{
    margin: 0.5em;
      text-align: center;
      border: 2px solid;
}

.design-selection nav ul{
    display: inline-block;
    padding: 1vw;

    & li{
        margin: 1vw;
        border: 2px solid;
        border-radius: 25%;
        list-style: none;
        padding: 1vw;
    }
}



.design-archives{
    border: 2px solid;
    border-radius: 30%;
    margin: 0.5em;
    padding: 1vw;
    font-size: 90%;
    ul li{
        list-style: none;
        text-align: left;
    }
}

.zen-resources{
    border: 2px solid;
    border-radius: 30%;
    margin: 0.5em;
    padding: 1vw;
    font-size: 75%;
    ul li {
        list-style: none;
        text-align: left;
    }
}

footer{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    grid-column: span 3;
    grid-row: 4;
}